/* Import font Oswald from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body,
.o_web_client {
    font-family: "Oswald", sans-serif !important;
}

.btn {
    font-family: "Oswald", sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Oswald", sans-serif !important;
}
